/* 
    公共样式
*/
.title_huge {
  font-size: 24px;
  font-weight: 500;
}

.title_big {
  font-size: 20px;
  font-weight: 500;
}

.title_medium {
  font-size: 16px;
  font-weight: 500;
}

.title_small {
  font-size: 12px;
  font-weight: 500;
}

.left {
  text-align: left
}

.right {
  text-align: right
}

.center {
  text-align: center
}

.disp_inblock {
  display: inline-block
}

.pages_padding_12 {
  padding: 12px
}

.margin_left_12 {
  margin-left: 12px
}

.margin_bottom_12 {
  margin-bottom: 12px
}
.margin-top-12 {
  margin-top: 12px
}